.related-heading {
    overflow: hidden;
    text-align: center;
  }

.card-img-top-1{
    padding-top: 15px;
    width:400px;
    height: 300px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
}