.footer-social-buttons{
    height: 30px;
    width: 30px;
}
.footer-social-buttons i{
    width: 27px !important;
    line-height: 27px !important;
}
.footer-connect{
    float: right;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 46px;
    background: grey;
    z-index: 1;
}
footer a{
    display: inline-block;
    margin: 6px;
}
footer > div {
    padding: 5px 60px 15px 60px;
    background-color: crimson;
}