.tagsrc-container{
    width: 1000px;
    padding-left: 420px;
}

.heading{
    text-align: center;
    padding-top: 10px;
}

.card-group-2{
    max-width: 40rem;
    max-height: 15rem;
}

.card-title{
    margin-top: 0px;
    margin-left: 10px;
}

.card-text{
    margin-left: 10px;
}

.readmore-btn{
    float: right;
    margin-right: 10px;
}

.img-fluid, .rounded{
    padding-top: 15px;
    width:200px;
    height: 130px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
}