.dash-container{
    width: 1000px;
    padding-left: 420px;
}

.card-group-2{
    max-width: 40rem;
    max-height: 10rem;
    //padding-right: 300px;
}

.heading{
    text-align: center;
    padding-top: 10px;
}

.card-group{
    width: 1000px;
}

.card-title{
    margin-top: -10px;
}

.story-btn{
    float:right;
    margin-bottom: 10px;
}

.img-fluid{
    padding-top: 18px;
    width:200px;
    height: 130px;
    padding-left: 10px;
    padding-right: 5px;
}
.noStoryH2 {
    text-align: center;
    margin: 20px;
}